aside{
    align-items: center;
    background-color: white;
    box-shadow: 0 3px 9px #c9cccd;
    margin: 10px;
} 
.wrapper-tags-fixed{
    position: sticky;
    top: 0px;
}
.tags__all{
    border: 1px solid grey;
    width: fit-content;
    padding: 5px 5px
} 
.wrapper-tags{
    margin: 20px;
    display: flex;
    flex-wrap: wrap;
    margin-top: 10px;
    background-color: white;

}
.wrapper-tags > p{
    margin: 5px 4px;
}
.second{
    position: sticky;
    top: 10px;
} 
.add-question{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    box-shadow: 0 1px 2px #c9cccd;
    box-sizing: border-box;
    margin-top: 20px;
    padding: 20px;
}
.add-question a{
   color: #0077CC;
   font-size: 14px;
   font-family: 'Roboto', sans-serif;
   padding-bottom: 4px;

}
@media only screen and (max-width: 934px) {
    aside {
      display: none;
    }
 }