aside{
    align-items: center;
    background-color: white;

    box-shadow: 0 3px 9px #c9cccd;
    margin: 10px;
    border-radius: 5px;
    height: 400px;
   
}
h1{
    padding: 0;
    margin: 0;
    text-align: center;
}
.tags__all{
    border: 1px solid grey;
    width: fit-content;
    padding: 5px 5px
}
.wrapper-tags{
    margin: 20px;
    display: flex;
    flex-wrap: wrap;
}
.wrapper-tags > p{
    margin: 5px 4px;
}
.second{
    position: sticky;
    top: 10px;
}
@media only screen and (max-width: 934px) {
    aside {
      display: none;
    }
 }