.logo{
    width: 175px;
}
.logo-home{
    flex: 1;
}
.menu-button{
    display: none!important
}
@media only screen and (max-width: 600px) {
    .menu-button {
      display: block!important
    }
  }